@model DC1.Models.Stade

@{
    ViewData["Title"] = "Edit";
}
<div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
    <h1>Edit</h1>

</div>
<h4>Stade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdStade" />
            <div class="form-group">
                <label asp-for="NomStade" class="control-label"></label>      <br />
                <input asp-for="NomStade" class="form-control" />
                <span asp-validation-for="NomStade" class="text-danger"></span>      <br />
            </div>
            <div class="form-group">
                <label asp-for="CapaciteStade" class="control-label"></label>      <br />
                <input asp-for="CapaciteStade" class="form-control" />
                <span asp-validation-for="CapaciteStade" class="text-danger"></span>      <br />
            </div>
            <div class="form-group">
                <br />
                <input class="btn btn-outline-dark" type="submit" value="Save" class="btn btn-primary" />      <br />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-outline-warning" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
